.page{
	background-color: rgba(255,255,255,0.7);
}

#logo img{
	width: 120px;
	height: 120px;
	float: right;
}
#followus img{
	width: 50px;
	height: 50px;
}
#followus h3{
	text-align: right;
}

#costumprayer label{
	float: right;
	font-size: 1.2em;
	font-weight: bold;
}
section h3{
	text-align: right;
	font-weight: bolder;
}
