.page{
	background-color: rgba(255,255,255,0.8);
	border-left: 3px solid rgba(100,100,100,0.6);
	border-right: 3px solid rgba(100,100,100,0.6);
}

#logo img{
	width: 100px;
	height: 100px;
	margin: 0 70px;
}
#followus{
	border: none;
}
#followus img{
	width: 38px;
	height: 38px;
}
#followus h3{
	text-align: right;
}

#costumprayer label{
	float: right;
	font-size: 1.2em;
	font-weight: bold;
}
#costumprayer{
}
.panel{
	border-top: none;
	border-left: none;
	border-right: none;
}
.panel-default .panel-heading{
	background-color: rgb(233,242,247);
}
.panel-heading .panel-icon{
	float: right;
	margin: 3px 10px;
	height: 100%;
}
.panel-default h3{
	font-size: 1.5em;
	font-weight: lighter;
	direction:rtl;
}
#slide{
	  margin-top: -10px;

}
section h3{
	text-align: right;
	font-weight: bolder;
}

.random-blog-item{float:right;padding:10px;background-color:#f3f5f5;color:#151719;margin-bottom:10px;}
.random-blog-item:hover{
	background-color: #90b0c9;
	color: white;
}
.random-blog-descr{float:right;height:40px;overflow:hidden}
.random-blog-title{float:right;font-size:14px;line-height:20px;text-decoration:none;color:#151719;}
.random-blog-date{font-size:10px;float: left;width: 100%}
.random-blog-item-bg{position:absolute;width:100%;height:100%;left:0;top:0;opacity:0;z-index:1;-webkit-transition:opacity ease .5s;-moz-transition:opacity ease .5s;-ms-transition:opacity ease .5s;-o-transition:opacity ease .5s;transition:opacity ease .5s}
.background-color{background-color:#90b0c9!important}